.navbar-top {
    background: #51bfa1;
    padding: 12px 0;
    

}

.navbar-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top .contact {
    display: flex;
}

.navbar-top .contact a {
    font-family: Arimo;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    transition: .4s;
    color: #ffffff;
    margin: 0;
    margin-right: 30px;
    text-decoration: none;
    display: inline-block;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media .social-heading {
    font-family: Arimo;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    transition: .4s;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0;
}

.social-media .social-icons {
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
    transition: .4s;
    margin-bottom: 5px;
}

.social-media .facebook-icon:hover {
    color: #3b5998;
}

.social-media .twitter-icon:hover {
    color: #00acee;
}

.social-media .linkedin-icon:hover {
    color: #0072b1;
}

.social-media .youtube-icon:hover {
    color: #FF0000;
}