.checkout{
   padding-top: 60px;
}

.checkout h3{
    font-family: Arimo;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
}

.checkout{
    font-family: Arimo;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}