.login-signup {
    background: url(../../../assets/login-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    height: 1200px;
}

.login-single {
    height: 900px;
}

.login-signup .overlay {

    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0;
}

.login-signup-container {
    background: #fff;
    padding: 50px 60px;
    margin-top: 50px;
}

.login-signup-container .heading {
    font-family: Arimo;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #61777F;
    text-align: center;
    margin-bottom: 30px;
}

.login-signup-container form {
    width: auto;
}

.login-signup-container form label {
    font-family: Arimo;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #61777F;
}

.login-signup-container form input {
    font-family: Arimo;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: #61777F;
    height: 50px;
    border-radius: 5px;

}

.login-signup-container .check-input {
    display: flex;
    align-items: center;
}

.login-signup-container .check-input input {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-top: 0;
}

.login-signup-container .check-input label {
    font-family: Arimo;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #61777F;
}

.login-signup-container .check-input a {
    text-decoration: none;
    font-family: Arimo;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: #1273EB;

}

.submit-btn {
    width: 100%;
    padding: 10px 0 !important;
    font-family: Arimo;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    background: #51bfa1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.already-have-acc {
    font-family: Arimo;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #61777F;
    margin-top: 10px;

}

.already-have-acc a {
    text-decoration: none;
    font-family: Arimo;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #1273EB;
}

.thirdparty-signup {
    width: 100%;
    padding: 12px;
    font-family: Arimo;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #61777F;
    background: #fff;
    border: 2px solid #f1f1f1;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
}

.google-icon {
    width: 30px;
}

.github-icon {
    width: 24px;
    margin-right: 5px;
}

.or {
    font-family: Arimo;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #61777F;
    text-align: center;
    margin-top: 10px;
}



/* responsive for mobile device */
@media only screen and (max-width: 575.98px) {



    .login-signup-container {
        padding: 30px 15px;
        margin-top: 50px;
    }

    .already-have-acc {
        font-size: 14px;
    }

    .already-have-acc a {
        font-size: 15px;

    }

}

/* responsive for mobile device */
@media only screen and (min-width: 576px) {
    .login-signup-container form {
        width: 400px;
    }
    .login-signup-container {
        width: 520px;
        margin: 30px auto;
    }
}