/* code for dark mode start */
.dark {
    background: #666;
}
.dark .navbar-collapse{
    background-color: #666;
}
.dark .text-color {
    color: #fff;
}

.dark .text-color4 {
    color: #000;
}

.dark .text-color7 {
    color: #fff;
}

.dark .text-color8 {
    color: #fff;
}

.dark .text-color9:hover {
    color: #61777F;
}

.dark .primary-paragraph {

    color: #fff;
}

.dark .main-heading {
    color: #fff;
}

.dark .bg-color2 {
    background: #666;
}
/* code for dark mode end */

/* color codes */
.text-color99 {
    color: #61777F;
}

.text-color {
    color: #61777F;
}

.text-color2 {
    color: #fff;
}

.text-color3 {
    color: #fff;
}

.text-color3:hover {
    color: #fff;
}

.text-color4 {
    color: #000;
}

.text-color5 {
    color: #51bfa1;
}

.text-color6 {
    color: goldenrod;
}

.text-color7 {
    color: #000;
}

.text-color7:hover {
    color: #51bfa1;
}

.text-color8 {
    color: #61777F;
}

.text-color8:hover {
    color: #51bfa1;
}

.text-color9 {
    color: #fff;

}

.text-color9:hover {
    color: #61777F;
}

/* background color code */
.bg-color {
    background: #51bfa1;
}

.bg-color2 {
    background: #fff;
}

.bg-color3 {
    background: #61777F;
}

.bg-color4 {
    background: #18886a;
}

/*=============== typography css start ==================*/
.main-heading {
    font-family: Arimo;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #61777F;
}

.sub-heading {
    font-family: Arimo;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    display: inline-block;
    transition: .4s;
}

.sub-heading2 {
    font-family: Arimo;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;

}

.sub-heading3 {
    font-family: Arimo;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

}

.primary-paragraph {
    font-family: Arimo;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #61777F;
}

.secondary-paragraph {
    font-family: Arimo;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

/*=============== typography css end ==================*/
/*=============== button css start ==================*/

.primary-button {
    font-family: Arimo;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #51bfa1;
    color: #fff;
    background: #51bfa1;
    transition: .4s;

}

.primary-button:hover {
    background: #fff;
    color: #51bfa1;
}

.secondary-button {
    font-family: Arimo;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #51bfa1;
    color: #fff;
    background: #51bfa1;
    transition: .4s;

}

.secondary-button:hover {
    background: #fff;
    color: #51bfa1;
}

.secondary-button2 {
    font-family: Arimo;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 18px 20px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #51bfa1;
    color: #fff;
    background: #51bfa1;
    transition: .4s;
}


/*=============== button css end ==================*/



/* responsive for mobile device */
@media only screen and (max-width: 575.98px) {
    .main-heading {
        font-size: 46px;
        line-height: 50px;

    }

    .primary-paragraph {
        font-size: 14px;
        line-height: 22px;
    }

    .primary-button {
        font-size: 18px;
        line-height: 24px;
        padding: 14px 15px;
    }

    .sub-heading2 {
        font-size: 25px;
        line-height: 30px;
    }

}


/* responsive for mobile device */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    .main-heading {
        font-size: 32px;
        font-weight: 700;
        line-height: 35px;
    }

    .primary-button {
        font-size: 18px;
        line-height: 24px;
        padding: 12px 18px;
    }

    .primary-paragraph {
        font-size: 14px;
        line-height: 22px;
    }

    .sub-heading3 {
        font-size: 18px;
    }
}