
/* .dark p{
    color: red !important;
}
.dark a{
    color: red;
}

.App {}
.font{
    color: #61777F;
} */


.text-color{
    color: #61777F;
}
.text-color2{
    color: #fff;
}
.text-color3{
    color: #fff;
}
.text-color3:hover{
    color: #fff;
}
.text-color4{
    color: #000;
}
.text-color5{
    color: #51bfa1;
}
.text-color6{
    color: goldenrod;
}
.text-color7{
    color: #000;
}
.text-color7:hover{
    color: #51bfa1;
}
.text-color8{
    color: #61777F;
}
.text-color8:hover{
    color: #51bfa1;
}
.bg-color{
    background: #51bfa1;
}
.bg-color2{
    background: #fff;
}